<div class="list-flyings">

  <!-- List -->
  <div ng-if="vm.showList">
    <div class="list-flyings-item" ng-repeat="fly in vm.flyghts track by $id(fly)">
      <div class="list-flyings-content">
        {{ ::fly.dateFrom }} – {{ ::fly.dateTo }}
      </div>
      <div class="list-flyings-price">
        <div class="list-flyings-price-content">
          <small ng-bind="::fly.currency"></small> {{ ::fly.price }}
        </div>
      </div>
    </div>
  </div>
  <!-- End List -->

  <!-- Empty -->
  <div ng-if="!vm.showList">
    No Flyghts
  </div>
  <!-- End Empty -->

</div>
