@import '../scss/variables';

.list-flyings {
  padding-bottom: 32px;

  &-item {
    border: 1px solid $gray-light;
    padding: 12px 16px;
    background-color: $white;
    margin: 0 0 8px;
    display: table;
    width: 100%;
    border-radius: $default-border-radius;
    transition: border-color 0.2s ease-in-out;

    &:hover {
      border-color: $primary;

      .list-flyings-price-content {
        background-color: $secondary;
      }
    }
  }

  &-content {
    display: table-cell;
    vertical-align: middle;
  }

  &-price {
    background-color: $white;
    display: table-cell;
    border-left: 1px dashed $gray-mid;
    padding: 8px 10px;
    text-align: center;
    width: 150px;
    vertical-align: middle;
    font-weight: 700;
    color: $primary;
    text-align: right;
    &-content {
      transition: background-color 0.2s ease-in-out;
      padding: 8px 16px;
      border-radius: $default-border-radius;
      display: inline-block;
    }
  }
}
