.btn {
  padding: 8px 32px;
  outline: none;
  display: inline-block;
  border: 0;
  border-radius: 4px;
  margin: 0;
  transition: background-color 0.2s ease-in-out;
  border-radius: $default-border-radius;
  font-weight: 700;

  &.size-lg {
    padding: 10px 40px;
  }

  &.size-sm {
    padding: 4px 24px;
  }

  & + .btn {
    margin-left: 10px;
  }

  &.btn-primary {
    background-color: $primary;
    color: $white;
    &:hover {
      background-color: darken($primary, 5%);
    }
  }

  &.btn-secondary {
    background-color: $secondary;
    color: $primary;

    &:hover {
      background-color: darken($secondary, 5%);
    }
  }

  &[disabled] {
    background-color: $bg-button-disabled;
    color: #828282;

    &:hover,
    &:focus {
      background-color: $bg-button-disabled;
      color: #828282;
    }
  }
}
