.form-control {
  &-wrapper {
    position: relative;
    padding: 20px 0 0;
    background-color: $white;
    overflow: hidden;
    margin: 0 0 16px;

    @media (min-width: $media-tablet-min) {
      margin: 0;
    }

    .form-control-label {
      position: absolute;
      top: 3px;
      left: 0;
      width: 100%;
      background-color: $white;
      transition: all 0.2s ease-in-out;
    }

    .form-control-input {

      &:focus {

        & + .form-control-label {
          top: 0px;
          color: $dark;
          background-color: lighten($blue, 40%);
        }
      }
    }
  }

  &-label {
    background-color: $gray-light;
    display: block;
    padding: 2px 8px;
    color: #333;
    font-size: 13px;
  }

  &-input {
    display: block;
    width: 100%;
    border: 0;
    outline: none;
    background-color: $white;
    padding: 4px 8px;
    color: $primary;
    font-size: 17px;
    font-weight: 700;

    &[type=date] {
      padding: 1px 8px;
      height: 27px; //same size for all inputs
    }
  }
}

.validate-form {
  background-color: $primary;
  text-align: center;
  border: 1px solid $color-error;
  color: $white;
  padding: 0 8px;
  min-height: 38px;
  border-radius: 6px;
  position: absolute;
  bottom: 28px;
  left: 32px;
  width: 45%;
  font-size: 14px;
  line-height: 38px;

  @media (min-width: $media-tablet-min) {
    width: 60%;
    padding: 0 16px;
  }

  &-content {
    line-height: 18px;
    vertical-align: middle;
    display: inline-block;
  }
}
