.row {
  @extend .clearfix;
  margin: 0 #{-$padding-gutter};

  // TODO: add loop
  @for $i from 2 through $grid-size {
    &.cols-#{$i} {
      .col {
        width: 100%;

        @media (min-width: $media-tablet-min) {
          width: 100%/$i;
        }
      }
    }
  }
}

.col {
  float: left;
  padding-left: $padding-gutter;
  padding-right: $padding-gutter;
}
