.icon {
  display: inline-block;
  margin: 0 2px;
  vertical-align: middle;

  & > svg {
    fill: currentColor;
    width: $icon-size;
    height: $icon-size;
    display: block;
  }

  &.icon-sm {

    & > svg {
      width: $icon-size-sm;
      height: $icon-size-sm;
    }
  }

  &.icon-lg {

    & > svg {
      width: $icon-size-lg;
      height: $icon-size-lg;
    }
  }

}
