.nav {
  font-size: 0;
  &-item {
    font-size: 16px;
    padding: 16px 16px;
    display: inline-block;
    color: $white;
    position: relative;

    &:hover {
      color: $white;
    }

    &.active {

      &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        content: '';
        border-bottom: 1px solid $secondary;
      }
    }
  }
}
