@import '../../scss/variables';

.airport-selector {
  position: relative;
  z-index: 2;

  &.position-right {
    .airport-selector-dropdown {
      left: auto;
      right: 0;
      .caret {
        left: auto;
        right: 5%;
      }
    }
  }

  .h4 {
    margin-left: 16px;
  }

  &.open {
    z-index: 3;
    .airport-selector-dropdown {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    .form-control-label {
      top: 0px;
      color: $dark;
      background-color: lighten($blue, 40%);
    }
  }

  &-dropdown {
    top: 100%;
    margin: 10px 0;
    background-color: #fff;
    left: 0;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translate3d(0, 10%, 0);
    box-shadow: 0 1px 6px 1px rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 16px 16px;
    min-width: 100%;

    @media (min-width: $media-tablet-min) {
      min-width: 636px; //TODO: avoid static width
    }

    &-countries {
      padding-right: 16px;
      float: left;
      width: 50%;

      @media (min-width: $media-tablet-min) {
        width: 70%;
      }

      .airport-selector-list {
        @media (min-width: $media-tablet-min) {
          flex-wrap: wrap;
          flex-direction: column;
          display: flex;
        }
      }

      .airport-selector-list-item {
        @media (min-width: $media-tablet-min) {
          flex: 1 0 33%;
          font-size: 15px;
        }
      }
    }

    &-airports {
      float: left;
      width: 50%;
      @media (min-width: $media-tablet-min) {
        width: 30%;
      }
    }

    .caret {
      position: absolute;
      top: 0;
      left:  5%;
      width: 10px;
      height: 10px;
      margin: -5px;
      background-color: #fff;
      transform: rotate(45deg);
      z-index: -1;
    }
  }

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;

    &-item {
      display: block;
      padding: 4px 16px;
      border-radius: 15px;
      margin: 0 0 2px;
      overflow: hidden;
      color: #333333;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

      &.highlighted {
        background-color: $pill-highlited;
      }

      &.disabled {
        color: $color-disabled;
      }

      &.active {
        background-color: $blue;
        color: $white;
      }

      &:hover {
        background-color: lighten($blue, 40%);
        cursor: pointer;
        color: #333333;
      }
    }
  }
}
