<div class="airport-selector {{ ::vm.className }}" ng-class="{'open': vm.isOpen}">

  <div class="form-control-wrapper">

    <input
      name="{{ ::vm.name }}"
      placeholder="{{ ::vm.placeHolder }}"
      id="{{ ::vm.name }}" type="text"
      ng-model="vm.selected.name"
      ng-change="vm.changeAirport()"
      ng-model-options="{ debounce: 150 }"
      class="form-control-input"
      ng-focus="vm.onFocus()"
      ng-blur="vm.onBlur()"
      ng-required="vm.required"
      autocomplete="off"
      >

    <label
      ng-if="::vm.label"
      for="{{ ::vm.name }}"
      class="form-control-label"
      ng-bind="::vm.label"></label>

  </div>

  <!-- Dropdown -->
  <!-- List exist all time we can use ng-if -->
  <div class="airport-selector-dropdown">
    <span class="caret"></span>
    <div class="airport-selector-dropdown-content clearfix">

      <!-- Countries -->
      <div class="airport-selector-dropdown-countries">
        <h4 class="h4"> Pick a Country </h4>
        <ul class="airport-selector-list">
          <li
            ng-repeat="country in vm.countries track by country.code"
            ng-click="vm.selectCountry($index, $event)"
            ng-class="{'highlighted': country.isHighlighted && !country.disabled, 'active': country.active && !country.disabled, 'disabled': country.disabled}"
            class="airport-selector-list-item">
            {{ ::country.name }}</li>
        </ul>
      </div>
      <!-- End Countries -->

      <!-- Airports -->
      <div class="airport-selector-dropdown-airports">
        <h4 class="h4">
          Pick a airpot
        </h4>
        <ul class="airport-selector-list">
        <!-- track by airport.iataCode -->
          <li
            ng-repeat="airport in vm.airportsDisplay track by airport.iataCode"
            ng-click="vm.selectAirport(airport, $event)"
            ng-show="!airport.disabled"
            ng-class="{'active': airport.iataCode === vm.selected.iataCode}"
            class="airport-selector-list-item">
            {{ ::airport.name }}</li>

        </ul>
      </div>
      <!-- End Airports -->
    </div>
  </div>
  <!-- End Dropdown -->

</div>
