@import '../../scss/variables';

.search-panel {
  padding: 24px 32px 28px;
  background-color: #1e8adf;
  margin: 0 0 32px;
  border-radius: 6px;
  position: relative;

  .btn.size-lg {
    padding-right: 50px;
    position: relative;

    .icon {
      position: absolute;
      right: 0;
      top: 50%;
      margin: -12px 15px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &-title {
    margin: 0 0 16px;
    color: #ffffff;
  }

  &-loader {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.87);
    text-align: center;
    z-index: 100;
    color: $primary;

    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -$icon-size-lg/2;
      animation-duration: 0.8s;
      animation-name: rotation;
      animation-iteration-count: infinite;
    }
  }
}
