<div class="search-panel mb-4 mt-3">

  <h3 class="search-panel-title">
    Search Cheap Flyghts:
  </h3>
  <form name="vm.formSearch" ng-submit="vm.submit()" novalidate>
    <!-- Airpots -->
    <div class="row cols-2 mb-2">
      <div class="col">
        <airport-selector
          place-holder="Departure Airport"
          name="from"
          label="From:"
          required="true"
          on-change="vm.changeAirportFrom(airport)"
          is-open="vm.isOpenAirportFrom"
          selected="vm.airportFrom"
          on-focus-event="vm.onFocusHandler(element)"
          options="vm.options"></airport-selector>
      </div>

      <div class="col">
        <airport-selector
          place-holder="Destination Airport"
          name="to"
          label="To:"
          required="true"
          on-change="vm.changeAirportTo(airport)"
          is-open="vm.isOpenAirportTo"
          selected="vm.airportTo"
          class-name="position-right"
          on-focus-event="vm.onFocusHandler(element)"
          allowed-airports="vm.allowedRoutesTo"
          options="vm.options"></airport-selector>
      </div>
    </div>
    <!-- End Airpots -->

    <!-- Dates -->
    <div class="row cols-2 mb-2">
      <div class="col">
        <datepicker
          place-holder="Date"
          name="fly-out"
          label="Fly out:"
          required="true"
          date-value="vm.startDate"
          on-change="vm.changeStartDate(date)"
          ></datepicker>
      </div>

      <div class="col">
        <datepicker
          place-holder="Date"
          name="fly-back"
          label="Fly back:"
          required="true"
          date-value="vm.endDate"
          on-change="vm.changeEndDate(date)"
          ></datepicker>
      </div>
    </div>
    <!-- End Dates -->

    <div class="clearfix">
      <button type="submit" class="btn btn-secondary size-lg float-right" ng-disabled="">
        Start
        <span class="icon">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </span>
      </button>
    </div>

      <div class="validate-form" ng-if="vm.formSearch.$invalid && vm.formSearch.$submitted">
      <div class="validate-form-content">
        <span class="icon ">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0V0z" fill="none"/>
              <path d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
          </svg>
        </span>
            Please, fill all fields.
          </div>
      </div>
  </form>

  <div class="search-panel-loader" ng-if="vm.loader">
    <span class="icon icon-lg">
      <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.01-.25 1.97-.7 2.8l1.46 1.46C19.54 15.03 20 13.57 20 12c0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-1.01.25-1.97.7-2.8L5.24 7.74C4.46 8.97 4 10.43 4 12c0 4.42 3.58 8 8 8v3l4-4-4-4v3z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
    </span>
  </div>
</div>
