<div class="datepicker">

  <div class="form-control-wrapper">

    <input
      name="{{ ::vm.name }}"
      placeholder="{{ ::vm.placeHolder }}"
      id="{{ ::vm.name }}"
      type="date"
      ng-model="vm.dateValue"
      ng-change="vm.changeDate()"
      ng-model-options="{ debounce: 150 }"
      class="form-control-input"
      ng-required="vm.required">

    <label
      ng-if="::vm.label"
      for="{{ ::vm.name }}"
      class="form-control-label"
      ng-bind="::vm.label"></label>

  </div>

</div>
