* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
  font-family: $font-family-primary;
  background-color: $bg-body;
  color: $font-color;
}

a {
  text-decoration: none;
  color: $blue;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: $primary;
  }
}

pre {
  overflow-x: auto;
}

html, body {
  height: 100%;
  margin: 0;
}


.main-content {
  position: relative;
  min-height: 100%;
  padding: $header-height 0 0;
  margin: 0 0 #{-$header-height};
  &:after {
    content: '';
    display: block;
    height: $header-height;
  }
}
