$margin_total: 5;
// Bottom
@for $i from 1 through $margin_total {
  .mb-#{$i} {
    margin-bottom: $i*8px !important;
  }
}

// Top
@for $i from 1 through $margin_total {
  .mt-#{$i} {
    margin-top: $i*8px !important;
  }
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.rotate-45 {
  transform: rotate(45deg);
}


.disabled {
  pointer-events: none;
}
