h1, .h1 {
  font-weight: 700;
  color: $primary;
  margin: 0 0 16px;
  font-size: 24px;
}

h2, .h2 {
  font-weight: 700;
  color: $primary;
  margin: 0 0 16px;
  font-size: 21px;
}

h3, .h3 {
  font-weight: 700;
  color: $primary;
  margin: 0 0 16px;
  font-size: 18px;
}

h4, .h4 {
  font-weight: 700;
  color: $primary;
  margin: 0 0 16px;
  font-size: 18px;
}


h4, .h5 {
  font-weight: 700;
  color: $primary;
  margin: 0 0 16px;
  font-size: 16px;
}
