// Colors
$primary: #073590;
$secondary: #f1c933;
$blue: #1e8adf;
$white: #ffffff;
$gray-light: #ebebeb;
$gray-mid: #cccccc;
$bg-button-disabled: $gray-light;
$pill-highlited: lighten($secondary, 20%);
$bg-body: #f4f4f4;
$font-color: #2e2e2e;
$dark: #333333;
$color-error: #f55858;
$color-disabled: darken($gray-light, 10%);

// Media sizes
$media-mobile: 480px;
$media-mobile-min: 480px - 1px;
$media-tablet: 870px;
$media-tablet-min: 870px - 1px;
$media-laptop: 1080px;
$media-laptop-min: 1080px - 1px;

// Icons
$icon-size: 20px;
$icon-size-sm: 16px;
$icon-size-lg: 32px;

// Other
$default-border-radius: 4px;
$font-family-primary: 'Roboto', sans-serif;
$margin-step: 8px;
$padding-gutter: 8px;
$grid-size: 12;

// Sizes
$header-height: 50px;
$footer-height: 40px;

// Z-index
$z-index-header: 100;
$z-index-footer: 1;
