@import 'variables';

.loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1000;

  &-content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 175px;
    margin: -87px -150px;

    .icon {
      color: $primary;
      transform: translate3d(0, 0, 0) rotate(90deg);
      offset-path: path('m 96.819353,42.191142 c 18.149447,18.539755 26.931427,34.932801 45.861497,34.932801 18.93007,0 34.15218,-15.222114 34.15218,-34.15218 0,-18.930065 -15.22211,-34.3473353 -34.15218,-34.1521793 -18.93007,0.195155 -25.95566,14.0511823 -43.129317,33.3715583 -17.36883,17.173668 -30.63939,34.932801 -49.569454,34.932801 -18.930065,0 -34.15218,-15.222114 -34.15218,-34.15218 0,-18.930065 15.222115,-34.1521793 34.15218,-34.1521793 18.930064,0 31.810314,18.1494443 46.837274,33.3715583 z');
      offset-distance: 0%;
      animation: fly 4s linear infinite;

      & > svg {
        width: 42px;
        height: 42px;
      }
    }
  }
}

@keyframes fly {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}
